.bootslide-container {
  background-color: #fff;
  position: relative;
  overflow-x: hidden;

  -webkit-transition: height .2s ease-in-out;
  -moz-transition: height .2s ease-in-out;
  -o-transition: height .2s ease-in-out;
  transition: height .2s ease-in-out;
}

.bootslide-header {
  background-color: #e5e5e5;
  font-size: 20px;
  height: 30px;
  padding: 0 10px;
  padding-top: 10px;
  text-align: center;
}

.bootslide-header .bootslide-back {
  float: left;
}

.bootslide-menu-slider .bootslide-next {
  float: right;
}

.bootslide-section {
  float: left;
  position: absolute;
}

.bootslide-menu-slider {
  -webkit-transition: -webkit-transform .3s ease-in-out;
  -moz-transition: -moz-transform .3s ease-in-out;
  -o-transition: -o-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
}

.bootslide-menu-slider ul > li > a {
  display: block;
  padding: 8px 14px;
  border-bottom: 1px solid #e5e5e5;
}
