.bootslide-container {
  background-color: #fff;
  height: 350px;
  position: relative;
  overflow-x: hidden;
  border-bottom: 1px solid #e5e5e5;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

.bootslide-header {
  border-top: 1px solid #e5e5e5;
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
  background-color: #FAFAFA;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#F2F2F2));
  font-size: 20px;
  height: 30px;
  padding: 0 10px;
  padding-top: 10px;
  text-align: center;
  font-weight: 200;
  color: #777;
  text-shadow: 0 1px 0 white;
}

.bootslide-header .bootslide-back {
  float: left;
}

.bootslide-section {
  float: left;
  position: absolute;
}

.bootslide-menu-slider {
  -webkit-transition: margin-left .5s;
  -moz-transition: margin-left .5s;
  -o-transition: margin-left .5s;
  transition: margin-left .5s;
}

.bootslide-menu-slider ul > li > a {
  display: block;
  padding: 8px 14px;
  border-bottom: 1px solid #e5e5e5;
}

.bootslide-menu-slider .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}

.bootslide-menu-slider > li > a:hover {
  background-color: #f5f5f5;
}
